page-cadastro {
    ion-img{
        margin-top: 70px;
        background: none!important;
        height: 200px;
        width: 100px;
    }
    #title{
        font-weight: 400;
    }
    h4{
        color: #64b7f1;
    }
}
