page-produto {
    #conteudo{
        background-color: #6eced3;
    }
    img{
        width: 80%;
        padding-left: 50px;
        align-content: center;
        align-items: center;
        vertical-align: middle;
    }
}
